<head>
  <title>Home - Aziel</title>
  <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
  <%- include("./parts/head.ejs") %>
</head>

<body>
  <%- include("./parts/nav.ejs", { bot, user }) %>
    <div class="wrapper vcenter-item" style="margin-top: 100px;">
      <div id="home">
        <p class="text-center talign;" style="color:white"><img src="/image/Aziel.webp" class="cooolimg"
            style="width: 150px; height: 150px;border-radius: 50%"><br>
          <span style="margin-top:-5px;font-size:40px;margin-bottom:-5px;color:white">Aziel</span><br>
          <span class="typing_desc" style="color:white"></span>
          <script>
            new TypeIt(".typing_desc", {
              speed: 90,
              waitUntilVisible: true,
              startDelay: 1000,
            })
              .type("A multipurpose Discord bot for your server.")
              .pause(10000)
              .delete(-13)
              .type(' all of your needs.')
              .go()
          </script>
          <br><br>
          <a href="/invite" type="button" style="background-color: #c1234f;border-color: #c1234f;"
            class="btn btn-primary"><i class="fas fa-plus"></i> Invite</a>
          <a href="/dashboard" type="button" style="background-color: #2e323d;border-color: #2e323d;"
            class="btn btn-primary"><i class="fas fa-gear"></i> Dashboard</a>
        </p>
    
        <h2 class="text-center talign;" style="color:white;margin-top: 150px;"> <b>Bot Features</b></h2>
        <p class="text-center talign;" style="color:white;">All of the features & commands of the bot.</p><br>
        <p class="text-center talign;" style="color:white;margin-left: -1000px">
          <span style="font-size: 25;">Moderation Commands</span><br>
          <img style="border-radius: 10px;" src="https://mark-wesley.co.uk/i/r7Y.png"><br><br>
          <img style="border-radius: 10px;" src="https://mark-wesley.co.uk/i/WCz.png">
        </p>
        <p class="text-center talign;" style="color:white;margin-top: -457px">
          <span style="font-size: 25;">Fun Commands</span><br>
          <img style="border-radius: 10px;" src="https://mark-wesley.co.uk/i/jjR.png">
        </p>
        <p class="text-center talign;" style="color:white;margin-top: -465px;margin-left: 1000px">
          <span style="font-size: 25;">Quiz Commands</span><br>
          <img style="border-radius: 10px;" src="https://mark-wesley.co.uk/i/Ryp.png">
        </p>
        <h2 class="text-center talign;" style="color:white;margin-top: 150px;"> <b>Bot Statistics</b></h2>
        <p class="text-center talign;" style="color:white">Serving over <%- bot.guilds.cache.size %> guilds, with <%- bot.guilds.cache.map((guild) => guild.memberCount).reduce((p, c) => p + c); %> users, and <%- bot.channels.cache.size %> channels.</p>
      </div>
    </div>
</body>